.cuadroAlta{
    width: 350px;
    height: 40%;
    margin-top: 2%;
    margin-left: 35%;
}
.titulo{
    text-align: center;
}
.cajaCampos{
    margin-top: 50px;
    margin-left: 80px;
}
.botonSubmit{
    margin-top: 5%;
    position: relative;
    left:200px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
input{
    height: 25px;
}
input[type=text]{
    border: 2px solid;
    border-radius: 5px;
    width: 200px;
}
input[type=submit]{
    border: 2px solid;
    border-radius: 5px;
}
input[type=date]{
    border: 2px solid;
    border-radius: 5px;
    width: 205px;
}