
// MIXIN PARA CAMBIAR EL COLOR DE FONDO

@mixin colorFondo($color) {
    background-color: $color;
}

// PARA CAMBIAR EL COLOR DE LETRA

@mixin color($color) {
    color: $color;
}

// PARA AÑADIR UNA TRANSICION

@mixin transicion($proper, $dura, $timing: linear) {
    transition-property: $proper;
    transition-duration: $dura;
    transition-timing-function: $timing;
}

// PARA AÑADIR UNA ANIMACION

@mixin animaciones($name, $dura, $timing: linear) {
    animation-name: $name;
    animation-duration: $dura;
    animation-timing-function: $timing;
}


