.imagenInicio{
    width: 100%;
}
.cajaLogeo{
    width: 350px;
    height: 40%;
    margin-top: 2%;
    margin-left: 37%;
}

.tituloCajas{
    text-align: left;
}

.botonSubmit{
    margin-top: 5%;
    position:relative;
    left:110px;
}
.enlaces{
    margin-top: 6px;
}
