body {
  margin: 0px 2%;
}

// LE DAMOS RATON EL VALOR PARA QUE AL PASAR POR VARIOS INPUTS SE VUELVA UN PUNTERO

input[type="radio"],
input[type="submit"],
input[type="file"],
a {
  cursor: pointer;
  text-decoration: none;
}

// CAMBIAMOS EL COLOR DE TEXTO Y FONDO DE LOS LINKS DE LAS TABLAS, CON TRANSICIONES Y ANCHO

a {
  &.links {
    @include color( rgb(0, 0, 0));
    @include colorFondo(rgb(226, 226, 226));
    @include transicion(background-color, 2s, ease-out);

    // -webkit-transition: background-color 2s ease-out;
    // -moz-transition: background-color 2s ease-out;
    // -o-transition: background-color 2s ease-out;
    // transition: background-color 2s ease-out;

    padding: 8px;

    &:hover {
      @include colorFondo(rgb(255, 117, 117));
    }
  }
}



input {
  height: 25px;
}
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="file"] {
  border: 2px solid;
  border-radius: 5px;
}

// LE DAMOS TAMAÑO Y MARGENES A LOS TITULOS

.titulos {
  margin-right: 25%;
  padding: 1%;
}
.titulo {
  text-align: left;
  padding-left: 10%;
  width: 90%;
}
.seleccion{
  float: right;
  }