
// ASIGNAMOS DIFERENTES ESTILOS AL FOOTER SEGUN EL TAMAÑO DE PX DE LA PANTALLA


@media (min-width: 1920px) {
    footer div {
        font-size: 100%;
        float: left;
        margin: 0 13%;
        width: auto;
    }
}
@media (max-width: 1920px) {
    footer div {
        font-size: 100%;
        float: left;
        margin: 0 10%;
        width: auto;
    }
}
