.titulos {
    margin-right: 25%;
    padding: 1%;
}
.perfil {
    width: auto;
    & > a {
        float: right;
        & > img {
            -webkit-transition: box-shadow 2s ease-out;
            -moz-transition: box-shadow 2s ease-out;
            -o-transition: box-shadow 2s ease-out;
            transition: box-shadow 2s ease-out;
            &:hover {
                box-shadow: 5px 5px 0 #515151;
                cursor: pointer;
            }
        }
    }
}
